---
layout: default
---
<div class="home">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <div class="intro">
      <h3>10-11 May 2018</h3>
    <h1>Common Voice participates in the Global Sprint!</h1>
    <h3 id="countdown"></h3>
    <h3 class="sites-tested"></h3>
    </div>
  </header>

  <section class="description-container">
    <img class="spaceship" src="{{ site.baseurl }}/img/img-spaceship.svg" />
    <img class="spaceship-path" src="{{ site.baseurl }}/img/img-spaceship-path.svg" />
    <div class="description">
      <h2>TBD</h2>
    </div>
  </section>

  <section class="info-buttons">
    <div class="report">
      <a href="{{ '/upload/' | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/icon-upload.svg" alt="" /></a>
      <p>Upload your sentences</p>
      <a class="title" href="{{ '/upload/' | prepend: site.baseurl }}">Upload</a>
    </div>
    <div class="github">
      <a href="https://github.com/{{ site.github.repo }}"><img src="{{ site.baseurl }}/img/icon-github.svg" alt="" /></a>
      <p>View our code on</p>
      <a class="title" href="https://github.com/{{ site.github.repo }}">GitHub</a>
    </div>
  </section>

  <section class="interested">
    <p>Still interested?</p>
    <a class="button involve-button" href="#actions">Get involved!</a>
  </section>
</div>

<script src="{{ site.baseurl }}/js/countdown.js"></script>
<script src="{{ site.baseurl }}/js/sites-tested.js"></script>
