---
layout: default
---
<div class="home">
  <header>
    <div class="top-header">
      {% include logo.html %}
      {% include navigation.html %}
    </div>

    <div class="intro">
      <h3>10-11 May 2018</h3>
    <h1>Common Voice participates in the Global Sprint!</h1>
    <h3 id="countdown"></h3>
    <h3 class="sentences-uploaded"></h3>
    </div>
  </header>

  <section class="description-container">
    <img class="spaceship" src="{{ site.baseurl }}/img/img-spaceship.svg" />
    <img class="spaceship-path" src="{{ site.baseurl }}/img/img-spaceship-path.svg" />
    <div class="description">
      <h2>What is this about?</h2>
      <p>The <a href="https://voice.mozilla.org/" target="_blank">Common Voice project</a> is Mozilla’s initiative to make speech recognition software more open, accessible, and inclusive. You see, in order to create usable voice technology, an extremely large amount of voice data is required. Most of the data used by large companies isn’t available to the majority of people, and we think that stifles innovation. So we are gathering voices from all over the world in the hope to build the biggest open-source voice dataset around. This data can then be used make open-source speech recognition that is as good as any commercial products in the market today.</p>
      <p>Until now though, we have only managed to gather voices in English. But we believe that technology should serve everyone, not just majorities. That is why we are working to launch Common Voice in as many new languages as possible. And for that we need your help!</p>
      <p>Would you like to help us create open-source voice technology for your language(s)? The first step is gathering voice data in your language(s). But in order to do this, we need thousands of sentences for people to read. So we are asking you to submit as many sentences as possible in your language(s) so future contributors can read them on the Common Voice website.</p>
    </div>
  </section>

  <section class="info-buttons">
    <div class="report">
      <a href="{{ '/upload/' | prepend: site.baseurl }}"><img src="{{ site.baseurl }}/img/icon-upload.svg" alt="" /></a>
      <p>Upload your sentences</p>
      <a class="title" href="{{ '/upload/' | prepend: site.baseurl }}">Upload</a>
    </div>
    <div class="github">
      <a href="https://github.com/{{ site.github.repo }}"><img src="{{ site.baseurl }}/img/icon-github.svg" alt="" /></a>
      <p>View our code on</p>
      <a class="title" href="https://github.com/{{ site.github.repo }}">GitHub</a>
    </div>
  </section>

  <section class="interested">
    <p>Still interested?</p>
    <a class="button involve-button" href="{{ '/contributing/' | prepend: site.baseurl }}">Get involved!</a>
  </section>
</div>

<script src="{{ site.baseurl }}/js/countdown.js"></script>
<script src="{{ site.baseurl }}/js/sentences-uploaded.js"></script>
